.main {

}
.bannerContainer{
  background-color: #323351;
  width: 100%;
  height: 23rem;
  padding: 0 12rem;
}

.itemsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.linkList{
  color: #fff;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: .9rem;
  font-weight: 400;
}

.header_btn{
  background-color: #444561;
  padding: 12px 18px 12px 18px;
  color: #fff;
  border-radius: 7px;
  border: none;
  display: block;
  align-items: center;
}

.header_left{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.services_container{
  display: flex;
}
.body_container{
  width: 100%;
  padding: 0 12rem; 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}

.section_title{
  padding: 0 12rem;
  margin-top: 20rem;
  margin-bottom: 3rem;
}