.main {
}
.bannerContainer{
  background-color: #323351;
  width: 100%;
  height: 31.5rem;
}

.itemsContainer{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.linkList{
  color: #fff;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: .9rem;
  font-weight: 400;
}