.main {

}
.bannerContainer{
  background-color: #323351;
  width: 100%;
  height: 23rem;
  padding: 0 12rem;
}

.itemsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.linkList{
  color: #fff;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: .9rem;
  font-weight: 400;
}

.header_btn{
  background-color: #444561;
  padding: 12px 18px 12px 18px;
  color: #fff;
  border-radius: 7px;
  border: none;
  display: block;
  align-items: center;
}

.header_left{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.services_container{
  display: flex;
}
.body_container{
  width: 100%;
  padding: 0 12rem; 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  justify-content:center;
  gap: 3rem;
  flex-wrap: wrap;
}

.section_title{
  padding: 0 12rem;
  margin-top: 20rem;
  margin-bottom: 3rem;
}

.menu_bar{
  display: none;
}

.mobile_buttons{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mobile_menu{
  display: none;
  color: #fff;
}

.mobile_buttons .mobile_list_services{
  background-color: #F5643D;
  padding: .5rem;
  border-radius: .5rem;
}

@media only screen and (max-width: 768px) {
  .bannerContainer{
    height: auto;
  }
  .menu_bar{
    display: block;
    color: #fff;
  }
  .linkList,.header_btn{
    display: none;
  }
  .bannerContainer{
    padding: 0 2rem;
  }
  .services_container{
    display: none;
  }
  .mobile_menu{
    display: block;
    color: #fff;
  }
  .mobile_menu h3{
    margin-top: 3rem;
    width: 8rem;
    font-weight: 400;
  }

  .mobile_menu h4{
    margin-top: 3rem;
    width: 15rem;
    font-weight: 500;
  }

  .mobile_menu ul{
    margin-top: 1rem;
    list-style-type:none;
  }

  .mobile_menu ul li{
    margin-top: 1.2rem;
  }
}